<!DOCTYPE html>
<html>
<head>
  <title>Unboxed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |msg_type, message| %>
    <%= content_tag(:div, message, class: msg_type) %>
  <% end %>

  <%= yield %>

</body>
</html>
